
<h1>New Series</h1>

<%= form_with(model: @series, url: series_index_path) do |form| %>
 <div clas='mb-3'>
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <div clas='mb-3'>
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis, class:'form-control' %>
  </div>

  <div clas='mb-3'>
    <%= form.label :director %>
    <%= form.text_field :director, class:'form-control' %>
  </div>

  <%= form.submit "Create Series", class:'btn btn-success' %>
<% end %>


